{% extends 'main2.html' %}
{% load static %}
{% block extracss %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
<div class="main container-fluid" id="product-section">
    <div class="row border-bottom category">
        <h6 class="bbb_viewed_title p-1 col-auto mr-auto"><span>Book Details</span></h6>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
                <img src="{{product.imageURL}}" class="shadow-lg" alt="">
        </div>
        <div class="col-md-6" style="background-color: #f0f1f4;">
            <h3>
                {{product.name}}
            </h3>
            <p class="mb-2 text-muted small"><b>Author:</b>
                {{product.author}}
            </p>
            <p class="mb-2 text-muted small"><b>Category:</b>
                {{product.category}}
            </p>
            <p class="mb-2 text-muted small"><b>Digital:</b>
                {% if product.digital %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>
            <div class="price-box">
                <span class="price product-price">
                    ${{product.price|floatformat:3}}
                </span>
            </div>
            <div class="rte description rte-summary">
                <strong class="text-muted">Description:</strong>
                <p class="text-justify">
                    {{product.description}}
                </p>
            </div>
            <hr>
            {% if user.is_authenticated %}
                <button data-product={{product.id}} data-action ="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            {% else %}
                <a href="{% url 'signin' product.id %}"><button class="btn btn-outline-secondary add-btn">Add to Cart</button></a>
            {% endif %}

        </div>
    </div>

    <div class="row border-bottom category">
        <h6 class="bbb_viewed_title p-1 col-auto mr-auto"><span>Similar Products</span></h6>
    </div>
    <div class="intro row text-center">
        {% for productt in products %}
            <div class="col-2">
                <img src="{{productt.imageURL}}" alt=""
                    class="img-fluid row pb-3 bbb_viewed_image shadow border rounded"
                    style="width: 150px; height: 250px">
                <div class="bbb_viewed_content text-center">
                    <div class="bbb_viewed_name"><a href="{% url 'details' productt.id %}">
                            {{productt.name}}
                        </a></div>
                    <div class="bbb_viewed_price">
                            {{productt.price|floatformat:3}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}